@font-face {
    font-family: 'Regular';
    src: url(./fonts/WixMadeforDisplay-Regular.ttf);
}
@font-face {
    font-family: 'Medium';
    src: url(./fonts/WixMadeforDisplay-Medium.ttf);
}
@font-face {
    font-family: 'SemiBold';
    src: url(./fonts/WixMadeforDisplay-SemiBold.ttf);
}
@font-face {
    font-family: 'Bold';
    src: url(./fonts/WixMadeforDisplay-Bold.ttf);
}
@font-face {
    font-family: 'ExtraBold';
    src: url(./fonts/WixMadeforDisplay-ExtraBold.ttf);
}

/* Use a unique font throughout the site */
body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #ffffff !important;
    color: #333;
}
body {
    margin: 0;
    padding: 0;
    background-color:#eb6d64;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/ibm/IBMPlexSans-Regular.ttf') format('truetype');
    /* Other font properties */
}
/* Reset default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Basic styles for header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* Main content styles */
main {
    padding: 20px;
    text-align: justify;
}

.about {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 0.9em;
    color:white;
}

/* Social Icons */
.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #fff;
    font-size: 1.5em;
    margin-right: 15px;
}

/* Responsive design */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    text-align: center;
    }
}
